input.puzzle {
    border: none;
    border-color: transparent;
    border-bottom: 2px solid;
    border-color: rgba(180, 10, 10, 0.5);
    width: 1.5em;
    margin-right: 0.2em;
    margin-left: 0.15em;
    margin-bottom: 0;
    font-size: 1em;
}

span.word {
    display: inline-block;
    white-space: nowrap;
    margin-right: 0.35em;
}